 @font-face {
    font-family: 'Joystix Monospace';
    src: url('joystixmonospace.ttf');
}

AnchorPane {
    -fx-border-width: 0 0 0 1em;
    -fx-border-color: #FF00FF;
}

Button {
    -fx-font-family: 'Joystix Monospace';
    -fx-font-size: 1.2em;
    -fx-text-fill: #00ff00;
    -fx-border-color: #ffffff;
    -fx-border-width: 0.1em;
    -fx-background-color: black;
}

HBox {
    -fx-border-color: white;
    -fx-border-width: 0.4em;
}

GridPane {
    -fx-background-color: black;
}

VBox > GridPane {

    -fx-border-width: 5px;
}

Label {
    -fx-text-fill: #00ff00;
    -fx-font-size: 1.2em;
    -fx-font-family: 'Joystix Monospace';
}

ImageView {
    -fx-border-color: grey;
    -fx-border-width: 0.1em;
}

AnchorPane > Label {
    -fx-font-size: 3em;
}

AnchorPane Label {

}

TableView {
    -fx-background-color: black;
}

TableView .column-header {
    -fx-background-color: black;
    -fx-border-color: black;
}

TableView .column-header .label {
    -fx-font-size: 2em;
}

.dialog-pane .button-bar .container {
  -fx-background-color:black;
}

TextField {
  -fx-background-color: black;
  -fx-font-family: 'Joystix Monospace';
  -fx-text-fill: #00ff00;
  -fx-border-color: white;
  -fx-border-width: 0.05em;
}

PasswordField {
  -fx-background-color: black;
  -fx-font-family: 'Joystix Monospace';
  -fx-text-fill: #00ff00;
  -fx-border-color: white;
  -fx-border-width: 0.05em;
}

.combo-box-base {
    -fx-background-color: black;
    -fx-font-family: 'Joystix Monospace';
    -fx-text-fill: #00ff00;
    -fx-border-color: white;
    -fx-border-width: 0.05em;
}

ComboBox .list-cell {
    -fx-background-color: black;
    -fx-font-family: 'Joystix Monospace';
    -fx-text-fill: #00ff00;
}

ComboBox .list-cell:hover {
    -fx-background-color: gray;
    -fx-font-family: 'Joystix Monospace';
    -fx-text-fill: #00ff00;
}

TableView .table-row-cell {
    -fx-background-color: black;
}

TableView .table-row-cell:hover {
    -fx-background-color: #999999;
}

TableView .table-cell {
    -fx-font-family: 'Joystix Monospace';
    -fx-text-fill: #00ff00;
}

TableView .table-row-cell:filled:even {
    -fx-background-color: #333333;
}

*.label.content{
    -fx-background-color: black;
    -fx-font-size: 0.8em;
}