.slider .axis{
    -fx-tick-label-fill: white;
    -fx-tick-label-font-size: 1.5em;
}

.slider {
    -fx-padding: 0 5px 0 5px;
}


.label {
    -fx-font-size: 2em;
}

.root {
    -fx-background-color: #2C3539;
    -fx-font-family: "Fira Code";
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #232A2E;
}

.tab {
    -fx-background-color: #565D61;
    -fx-text-base-color: white;
    -fx-border-color: white;
}

.tab:selected {
    -fx-background-color: #787D81;
    -fx-focus-color: white;
}

.tab:hover {
    -fx-background-color: #93979A;
    -fx-focus-color: white;
}

.table-view .table-cell {
    -fx-background-color: #2C3539;
    -fx-text-fill: white;
    -fx-border-color: #565D61;
}

.table-view .table-cell:hover {
    -fx-background-color: #787D81;
}

.table-view .table-cell:empty {
    -fx-border-color: #2C3539;
}


.table-view .table-cell:empty {
    -fx-border-color: #2C3539;
    -fx-background-color: #2C3539;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #787D81;
    -fx-border-color: white;
}

.table-view .column-header {
    -fx-background-color: #565D61;
    -fx-border-color: #565D61;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #565D61;
    -fx-text-fill: white;

    -fx-border-color: white;
}

.button:hover {
    -fx-background-color: #787D81;
}

.chart-pie-label {
    -fx-fill: white;
}







.default-color0.chart-pie { -fx-pie-color: #565D61; }
.default-color1.chart-pie { -fx-pie-color: #787D81; }
.default-color2.chart-pie { -fx-pie-color: #A9ACAE; }
.default-color3.chart-pie { -fx-pie-color: #BABDBE; }
.default-color4.chart-pie { -fx-pie-color: #C8CACB; }